@import './base.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root {
  --fonte-principal: "Source Sans 3", sans-serif;
  --cor-verde: RGB(33, 208, 122);
  --cor-azul: RGB(21, 133, 181);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  line-height: 1.6;
  font-family: var(--fonte-principal);
  color: var(--vt-c-white);
  font-size: 15px;
  text-rendering: optimizeLegibility;
}